*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #869aa37d;
    margin: 2em;
    overflow: hidden;

}
.title {
    font-size: 2eem;
    font-size: 3em;
    color: #007a7a;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6px auto;

}

.span_block {
    display: block;
    text-align: center;
}

.result_div {
    width: 100%;
    height: 120px;
    text-align: center;
    color: #215661;


}

.icon{
    font-size: 5em;
    margin-bottom: 7px;

}

.choices {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;

}

.imgs{
    width: 150px;
    margin: 10px;
    margin: 5em;

}

.images {
    height: 200px;
    display: flex;
    align-items: flex-end;
    align-items: center;
    justify-content: center;
}

#result_display{
    font-size: 3em;
}

.user_display, .comp_display{
    font-size: 2em;
}