
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;

}

header {
    padding: 4px;
    background-color: #7e54b5;
}


.navbar {
    grid-template-columns: 2fr 1fr;
    display: grid;
    background-color: #7e54b5;
    position: sticky;
    left: 0;
    width: 100%;
    top: 0;
}

.leftbar {
    display: flex;
    margin: auto;
}

ul {
    list-style-type: none;
    /* float: left; */
    background-color: white;
    border: 2px solid white;
    /* padding: 2px 7px; */
    display: flex;
    border-radius: 5px;

}

li {
    width: 35px;
    margin: 5px;
    border-radius: 5px;
}  
li div {
    width: 30px;
    height: 25px;
}

 .all {
    border: 1px solid black;
    padding: 1px;
    text-align: center;
    font-size: 14px;
    font-weight: 900;
}
.red{
    background-color: red;
}

.green{
    background-color: green;
}

.blue{
    background-color: blue;
}

.black{
    background-color: black;
}

.createbtn {
    background-color: white;
    padding: 7px;
    border-radius: 5px;
}
.container{
    margin: 10px;
    width: 100%;
    display: flex;

}

.modal_content {
    width: 265px;
    display: flex;
    height: 200px;
    border: 2px solid black;
    flex-wrap: wrap;
    background-color: #7e54b5;
    margin: 10px;

}

.colorsbtn {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.closebtn {
    width: 15px;
    height: 18px;
    margin: 2px;
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.colorsbtn button {
    margin: 2px;
    width: 50px;
    height: 35px;
    border: 1px solid white;

}

.submitbtn {
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    margin: 0px 10px;
}

.bottoms {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: stretch;
    margin: 10px;
    cursor: pointer;

}



.leftIcon i {
    padding: 3px;
}

.colors {
    border: 1px solid black;
    width: 20px;
    height: 20px;
    border: 2px solid white;

}