* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box {
    margin: 10px;
    width: 50%;

}

.qst {
    position: relative;
    padding: 10px;
    cursor: pointer;
    background-color: powderblue;
    cursor: pointer;
}

.qst::before {
    position: absolute;
    content: '+';
    top: 7px;
    font-size: 22px;
    font-weight: bold;
    right: 20px;

}

.box .answer {
    position: relative;
    background-color: #5bb0bb;
    height: 0px;
    overflow: hidden;
}

.box:active .qst::before {
    content: '-';
    /* position: absolute; */
}

.box:active .answer {
    height: auto;
    padding: 10px;
}