*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
   
    font-family: 'Mouse Memoirs', sans-serif;

}

.main{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bgcolor {
    width: 300px;
    /* font-size: 33px; */
    height: 100px;
        background-image: linear-gradient(45deg, #c10909	, #FFA07A	);
    border-radius: 20px;
    border: 4px dashed black;
    /* padding: 10px; */
    text-align: center;
    box-shadow: 8px 8px 10px #df5972;

}
.color {
    display: block;
}
.heading {
    color: whitesmoke;
    font-size: 40px;
}
.btn {
    font-weight: bold;
    /* background-color: blue; */
    background-image: linear-gradient(45deg, #c10909	, #FFA07A	);
    padding: 10px;
    border-radius: 12px;
    color: white;
    font-size: 14px;
    box-shadow: 8px 8px 10px #df5972;

}

.btncotainer {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.copy{
    position: relative;
}
.copy::before{
    content: "Copied";
    position: absolute;
    top: -25px;
    left: 4px;
    width: 60px;
    height: 20px;
    background-color: #c10909;
    border-radius: 5px;
    display: none;

}

.copy::after{
    content: "";
    position: absolute;
    top: -11px;
    transform: rotate(45deg);
    background-color: #c10909;
    width: 10px;
    height: 10px;
    display: none;
}
.copy:active .copy::before,
.copy:active .copy::after {
    display: block;
}