*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form {
    display: flex;
    flex-direction: column;
}

label {
    padding: 10px;
    font-size: 22px;
}

.submitbtn {
    margin: 10px;
    background-color: #ff6500;
}