*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Courier New', Courier, monospace;
}

.container {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-fluid {
    width: 300px;
    height: 200px;
    margin: 15px;
}

header {
    background-color: brown;
    height: 50px;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;

}

.btn {
    background-color: #e59292;
    padding: 10px;
    border-radius: 5px;
}

.innerBoxes {
    display: flex;
    align-items: center;
    width: 700px;
    height: 300px;
    justify-content: center;
}

p.info {
    margin: 15px;
    font-size: 20px;
    font-weight: 900;
}